.navbar {
    background-color: var(--primary-color) !important;
}

.navbar .navbar-brand picture {
    display: flex;
    width: 230px;
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
    .navbar .navbar-brand picture {
        width: 140px;
    }
}

.navbar .nav-item a {
    color: var(--white-color) !important;
}

.navbar .nav-item a:hover,
.navbar .nav-item a.active {
    font-weight: 600;
}